<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="icon" href="{{ url_for('static', path='img/logo.png') }}" type="image/png">-->
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{ url_for('static', path='scripts/script.js') }}"></script>
    <title>Сервис</title>
</head>
<body>
<header>
    <div class="top_bground"></div>
    <div id="head">
        <div class="top">
<!--            <img src="{{ url_for('static', path='img/logo.png') }}" class="logo">-->
            <div class="top_text">Сервис для HR-специалиста</div>
        </div>
    </div>
</header>
<main>
    <section class="section section_left">
        <div class="left_block">
            <div class="left_block_text">Введите название вакансии</div>
            <form method="post" action="/get_vacancy" class="input_group">
                <input type="text" class="input_left" name="vacancy_name" required>
                <input type="submit" value="" class="loupe_button">
            </form>
            {% if photo_path %}
            <form method="post" action="/regeneration_image">
                <input type="hidden" class="in" id="in1" value="{{ text }}" name="text">
                <input type="hidden" value="{{ photo_path }}" name="photo_path">
                <input type="hidden" value="{{ vacancy_name }}" name="vacancy_name">
                <input type="submit" class="regen" value="Сгенерировать изображение">
            </form>
            {% endif %}
            {% if error == 'not found' %}
            <span class="not_found">В базе нет такой вакансии</span>
            {% endif %}
            {% if text %}
            <form method="post" action="/send_vacancy">
                <label for="vk" class="label_Vk">Вконтакте</label>
                <input type="checkbox" class="checkbox vk" id="vk" name="vk">
                <label for="tg" class="label_Tg">Телеграм</label>
                <input type="checkbox" class="checkbox tg" id="tg" name="tg">
                <input type="hidden" class="in" id="in2" value="{{ text }}" name="text">
                <input type="hidden" value="{{ photo_path }}" name="photo_path">
                <input type="hidden" value="{{ vacancy_name }}" name="vacancy_name">
                <input type="submit" class="send_button" value="Отправить">
            </form>
            {% endif %}
            {% if msg == 'success send' %}
            <span class="send send_successfully">Успешно отправлено</span>
            {% endif %}
            {% if error == 'error send' %}
            <span class="send send_error">Ошибка отправления</span>
            {% endif %}
        </div>
    </section>
    <div class="center_line"></div>
    <section class="section section_right">
        {% if text %}
        <img src="{{ photo_path }}" alt="" class="pic">
        <textarea class="description">{{ text }}</textarea>
        {% else %}
        <img src="" alt="" class="pic">
        <textarea class="description"></textarea>
        {% endif %}
    </section>
</main>
</body>
</html>

